<html>
  <head>
    <style>
        .block{
           background-color: orange;
           box-shadow: 0px 0px 20px;
           width:800px;
           text-align: center;
           margin-left:22%;
        }
       .links{
           color:#f1f1f1;
           font-size:40px;
           font-weight:bold;
           text-decoration: none;
       }
       table {
           border-collapse: collapse;
           text-align: center;
      }
      table, td, th {
           border: 2px solid #0099ff;
           padding: 4px;
      }
      .jump{
           color:#f1f1f1;
           font-weight:bold;
           text-decoration: none;
      }
      .jump:hover
      {
           font-size:120%;
      }
    </style>
    <h1 align="center" style="color: #0099ff;">All Available students</h1>
  </head>
  <body bgcolor="#f1f1f1">
    <div class="block">
      <center>
      <% if @student != [] %><br><br>
          <% index = 0 %>
          <% @student.each do |key, value| %>
              <p>
                <table border="1">
                  <caption><%= key %></caption>
                  <tr>
                    <% if @display.include? "maths" %>
                       <th>Maths</td>
                    <% end %>
                    <% if @display.include? "physics" %>
                       <th>Physics</th>
                    <% end %>
                    <% if @display.include? "chemistry" %>
                       <th>Chemistry</th>
                    <% end %>
                  </tr>
                  <% @student[key].each do |stu| %>
                   <tr>
                     <% if @display.include? "maths" %>
                        <td><%= stu.maths %></td>
                     <% end %>
                     <% if @display.include? "physics" %>
                        <td><%= stu.physics %></td>
                     <% end %>
                     <% if @display.include? "chemistry" %>
                        <td><%= stu.chemistry %></td>
                     <% end %>
                   </tr>
                  <% end %>
                  <% if @total_marks_array !=[] %>
                    <tr>
                      <% if @display.include? "maths" %>
                         <td><%= "Total = #{@total_marks_array[index]["maths"]}" %></td>
                      <% end %>
                      <% if @display.include? "physics" %>
                         <td><%= "Total = #{@total_marks_array[index]["physics"]}" %></td>
                      <% end %>
                      <% if @display.include? "chemistry" %>
                         <td><%= "Total = #{@total_marks_array[index]["chemistry"]}" %></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <% if @marks_change_array !=[] %>
                    <tr>
                      <% if @display.include? "maths" %>
                         <td><%= "change = #{@marks_change_array[index]["maths"]}" %></td>
                      <% end %>
                      <% if @display.include? "physics" %>
                         <td><%= "change = #{@marks_change_array[index]["physics"]}" %></td>
                      <% end %>
                      <% if @display.include? "chemistry" %>
                         <td><%= "change = #{@marks_change_array[index]["chemistry"]}" %></td>
                      <% end %>
                    </tr>
                  <% end %>
              </table>
            </p>
            <% index += 1 %>
          <% end %>
      <% else %>
          <br><br><p>No Students available</p>
      <% end %>
      <p>
        <%= link_to "Home", "/home" ,{:class=>"links"}%>
      </p>
    </center>
    </div>
  </body>
</html>
